@font-face {
	font-family: Hylia;
	src: url(fonts/hylia_serif_beta-regular.otf);
}

@font-face {
	font-family: HylianSymbols;
	src: url(fonts/hylian-symbols.ttf);
}

body {
	font-family: Hylia, serif;
	color: #55B2D3;
	background: url(../images/sheikah_slate_wallpaper.jpg) no-repeat center fixed;
	background-size: cover;
}

.semiTransparent {
	background-color: #001144;
	opacity: 0.5;
	border: 4px solid black;
	border-radius: 5px;
}

.divider {
	border-color: #55B2D3;
}

.vl {
	border-left: 1px solid #55B2D3;
	height: 400px;
}

.symbol {
	font-family: HylianSymbols;
	color: #55B2D3;
}